<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="http://fonts.cdnfonts.com/css/neuropolitical" rel="stylesheet" />
</head>

<body>
  <div style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      ">
    <img src="https://partners-staging.napasociety.io/assets/images/napa_icon.svg"
      style="width: 100px; height: 100px" />
    <h1 style="text-align: center; font-family: 'Neuropolitical', sans-serif">
      NAPA Society
    </h1>
  </div>
  <div>
    <strong>Hello <%= user_name %>,</strong>
    <a style="text-decoration: none;" href= <%= confirm_link  %>> <%= confirm_link %> </a>
  </div>
</body>

</html>